<!DOCTYPE html>
<html>
<head>
    <title>Borrar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Borrar registros</h1>
    <form method="POST">
        <label for="cve_plan">Clave Plan:</label>
        <input type="text" id="cve_plan" name="cve_plan"><br>
        <label for="clave">Clave:</label>
        <input type="text" id="clave" name="clave"><br>
        <button type="submit">Borrar</button>
    </form>
    <a href="{{ url_for('index') }}">Regresar a la lista</a>
</body>
</html>
