<!DOCTYPE html>
<html>
<head>
    <title>Actualizar registros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Actualizar registros</h1>
    <form method="POST">
        <label for="cve_plan">Clave plan:</label>
        <input type="text" id="cve_plan" name="cve_plan"><br>
        <label for="clave">Grado:</label>
        <input type="text" id="grado" name="grado"><br>
        <label for="clave">Clave:</label>
        <input type="text" id="clave" name="clave"><br>
        <label for="nombre_materia">Nombre de la materia:</label>
        <input type="text" id="materia" name="materia"><br>
        <label for="clave">Horas prac:</label>
        <input type="text" id="horas_prac" name="horas_prac"><br>
        <label for="clave">Horas teo:</label>
        <input type="text" id="horas_teo" name="horas_teo"><br>
        <label for="creditos">Créditos:</label>
        <input type="text" id="creditos" name="creditos"><br>
        <button type="submit">Actualizar</button>
    </form>
    <a href="{{ url_for('index') }}">Regresar a la lista</a>
</body>
</html>
